.quarto-title-block .quarto-title-banner {
    background-image: url(readyuqlogotrans.png), url(banner.png);
    background-size: 250px, cover; 
    background-position: right, center; 
    background-repeat: no-repeat, no-repeat; 
    padding-right: 30px; 
    background-origin: content-box, border-box; 
}

section.page-break {
    page-break-before: always; 
}